[2017-10-16 11:40] meezaan opened #1 "Add Sample Config File (Yaml)"

[2017-10-16 11:41] meezaan opened #2 "Update README to point to sample DB download"

[2017-10-16 11:42] meezaan opened #3 "Add ApiDocJS API Spec"

[2017-10-16 12:55] meezaan opened #4 "Add Dockferfile / Docker container docs"

[2017-10-17 14:46] meezaan commented on #4
Dockerfile and repo added for app. It needs to be updated for the API. See https://github.com/islamic-apps/islamic-apps-docker

[2017-10-28 10:19] meezaan commented on #4
all done now.

[2017-10-28 10:19] #4 closed

[2017-11-22 15:25] ImKrach opened #5 "Need help to remove Bismillah at beginning of every surah"
Hello

Working on a javascript application (using react native).

I feel it is a problem to have the Bismillah at the beginning of every verse.

If it's possible to get some help to find a workaround, would be much appreciated.

For example, i tried this :
    `action.data[0].text = action.data[0].text.replace("بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ", "");`

It is not working.

I'm running out of

[2017-11-22 15:40] meezaan commented on #5
Shukran for your question, brother.

See https://gist.github.com/meezaan/3433728ab67500263cc8c72f42930fbe for a javascript solution.

I am also considering a couple of other options to either have a v2 without the Bismillah or to allow a query parameter to strip it out (where appropriate, of course).

The above should work in the interim. I've answered this for PHP @ https://github.com/islamic-app

[2017-11-22 15:44] ImKrach commented on #5
Awesome thank you

I believe this can be closed then, that's enough for me.

Although you might wanna keep this open as a reminder for your v2 idea.. I believe it is a good idea to add another optionnal parameter.

Salam brother

[2017-11-22 15:54] #1 closed

[2017-12-11 15:23] meezaan commented on #3
This API doesn't change often enough so I don't think this is necessary at this point.

[2017-12-11 15:23] #3 closed

[2018-02-18 22:59] husayt opened #6 "Name of surah in the language of translation"
There is no field with the name of surah in the language of chosen translation. There is a name in English, in arabic, in transliteration, but not in the language of translation.

Thank you for this amazing work. Jzkhr

[2018-02-19 11:17] meezaan commented on #6
Al Salaamu Alaykum,

You're welcome.

The underlying data from Tanzil.net does not have translations for Surah names.

If you have translations for a particular language, I can look at adding them in.

Let me know if I can be of any further help.

[2018-02-22 15:45] husayt commented on #6
Great.  I will do that.
Thank you
ASR

[2018-02-22 15:56] meezaan commented on #6
Look forward to it :)

[2018-04-23 22:19] tuqire opened #7 "return audio file urls using https when request to api is made with https"
making a request to `https://api.alquran.cloud/surah/114/ar.alafasy` should return audio file urls like `https://islamcdn.com/quran/media/audio/ayah/ar.alafasy/6226` and not `http://islamcdn.com/quran/media/audio/ayah/ar.alafasy/6226`

[2018-04-24 06:40] meezaan commented on #7
Done. http://api.alquran.cloud/ayah/245/ar.alafasy contains the http cdn url and https://api.alquran.cloud/ayah/245/ar.alafasy contains https.

[2018-04-24 06:40] #7 closed

[2018-05-16 12:27] Amel-Fathalla opened #8 "Audio quran"
Salam alaykoum u use api for mobile application
how can i get audio from api please ?
because in json array i have this
{"code":200,"status":"OK","data":[{"identifier":"fr.hamidullah","language":"fr","name":"Hamidullah","englishName":"Muhammad Hamidullah","format":"text","type":"translation"},{"identifier":"fr.leclerc","language":"fr","name":"Youssouf Leclerc","englishName":"Youssouf Leclerc","for

[2018-05-23 07:01] meezaan commented on #8
Salaam. Sorry I have just seen this.

A list of all audio versions: http://api.alquran.cloud/edition/format/audio

To get a particular surah for an audio version by ayah: http://api.alquran.cloud/surah/96/ar.alafasy (this response will contain an audio link which you can use to play audio)

Hope this helps.

[2018-05-29 12:28] Oum-Abdilleh commented on #8
salam it's dont work i have error undefine

[2018-05-29 12:51] meezaan commented on #8
What do you have an error for? What URL?

[2018-06-04 08:43] #8 closed

[2018-06-25 14:04] husayt opened #9 "Search api"
Thanks again for such a valuable resource. I am currently using it to build Quran Reader Web app. Hope to share soon and get feedback.

Would be also great to have search api, if this is something can be added.

JZKH

[2018-06-25 14:42] meezaan commented on #9
Salaam.

There is a search endpoint - http://api.alquran.cloud/search/{{keyword}}/{{surah}}/{{edition or language}}. See https://alquran.cloud/api. Are you looking for something else?

[2018-06-25 15:31] husayt commented on #9
I somehow missed it. This is exactly what I was looking for. Thanks

[2018-06-25 15:31] #9 closed

[2018-07-30 17:41] ahmedMubarak2024 opened #10 "fonts"
need to know the font to use to read the quran-buck English phonetic tried several doesn't work
and the font for quran-tajweed also that would be very helpful

[2018-07-31 11:34] meezaan commented on #10
Salaam.

There's no font to read these. You have to parse them. See https://github.com/islamic-network/alquran-tools and https://alquran.cloud/tajweed-guide.

[2018-07-31 12:01] ahmedMubarak2024 commented on #10
i am working on android app and the buck version {ls~ama` which isn't understandable why is that
also if i want quran version written in English phonetics is this available  like "Bismi Allāhi Ar-Raĥmāni Ar-Raĥīmi"

[2018-07-31 13:59] meezaan commented on #10
The only transliteration is en.transliteration.

That does not use the Latin phonetics for English, but instead just writes English out in a readable way, like "Bismillaahir Rahmaanir Raheem".

See http://api.alquran.cloud/surah/1/en.transliteration, for instance.

[2018-08-01 13:35] #10 closed

[2018-08-06 09:56] #6 closed

[2018-08-06 09:56] #5 closed

[2018-08-06 09:56] meezaan opened #11 "Cache all responses"

[2018-08-28 21:16] meezaan opened #12 "Investigate issue in request Helper"
PHP Warning: count(): Parameter must be an array or an object that implements Countable in /var/www/vhosts/alquran.cloud/api/src/Quran/Helper/Request.php on line 15, referer: http://api.alquran.cloud/ayah/112:3/editions/ar.alafasy,en.sahih

[2018-09-02 17:40] meezaan commented on #12
Fixed.

[2018-09-02 17:40] #12 closed

[2018-12-31 00:58] husayt opened #14 "Add feature: Juz List"
Would be nice to have something like this: `http://api.alquran.cloud/juz/`, which would have list of all juz with beginning and end e.g.

[code]
JZK for this amazing work.

[2018-12-31 01:02] husayt commented on #14
Also, would be very useful to have the same for manzils

[2019-01-02 11:12] #2 closed

[2019-01-07 21:13] kickthemooon opened #15 "What collation to use for arabic in database?"
May Allah reward you with Jannah Firdaws for the api.

I am having problems when importing the arabic ayat text from the api into my database.

Example surah Ash-Shams...

api:
وَالشَّمْسِ وَضُحَاهَا

in my database:
وَٱلشَّمْسِ وَضُحَىٰهَا

the problem is with the the Haa Haa in Duhaahaa, specifically with the first Haa in Duhaahaa.

I dont know what the problem is but i am thinking it has someth

[2019-01-08 10:33] meezaan commented on #15
Alaykum Salaam brother.

What edition are you using?

[2019-01-08 10:34] meezaan opened #16 "Fix http codes"
404 instead of 400.

[2019-01-08 11:51] meezaan commented on #16
Fixed.

[2019-01-08 11:51] #16 closed

[2019-01-11 22:04] meezaan opened #17 "Allow query param to strip Bismillah from first ayahs"

[2019-01-23 15:50] #15 closed

[2019-02-13 00:19] husayt opened #19 "Where is the text from. Has it been validated."
It has been asked from me and I looked through the website. But nowhere I could find where it mentions the source of Quran text. Taking into account the sensitivity of this matter, it is essential to provide source information on every single text of Holy Quran present in the Db (simple, Uthmani, tajweed and etc). Who has verified the text is what I have been asked many times.

Thanks

[2019-02-13 08:06] meezaan commented on #19
Al Salaamu Alaykum,

All the text comes from GlobalQuran.com as mentioned on https://alquran.cloud/contributors which ultimately comes from Tanzil.net (http://tanzil.net/docs/). See https://github.com/GlobalQuran/site/issues/33 for a similar answer.

Also see http://tanzil.net/docs/credits - this will give you names of the verifiers.

Hope this helps.

[2019-02-13 08:12] meezaan commented on #19
I've added Tanzil.net to the Contributors page. https://github.com/islamic-network/alquran.cloud/commit/5fb609eae5ab3a05498545fb744415fab7f5f075

[2019-02-14 10:56] #19 closed

[2019-03-07 10:56] husayt commented on #19
Thank you very much for claryfiying. Seems tanzil.net itself going through some problems. Download page ignores all the parameters (e.g. small alef and etc) and always returns the same text. I tried to contact them, but seems contact page is also broken. That is why having reliable alternatives is very important.

Thanks for this work. JZKH

[2019-03-14 05:54] meezaan commented on #19
Most open source projects end up suffering from these kind of issues because the community doesn't always support them.

In any case, validation of the text is always a contestable matter for the skeptic and can always be questioned depending on the background of a person and the 'criteria' he / she adheres to.

It's certainly not something I would discuss as a software engineer with anyone in any

[2019-04-12 08:24] MahmoudMabrok opened #20 "How to render Tajweed text that I get from api"
here for example
`http://api.alquran.cloud/v1/surah/114/quran-tajweed
`
i got
`
ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ [h:14688[ٱ][l[ل][g[نّ][p[َا]سِ
`
how to render it into text to use it in TextView

[2019-04-12 10:02] meezaan commented on #20
Al Salaamu Alaykum. See https://alquran.cloud/tajweed-guide.

[2019-04-13 11:03] MahmoudMabrok commented on #20
is there a way to render in java to be used in android?

[2019-04-13 20:50] meezaan commented on #20
I have not written one and am not aware of one.

[2019-04-22 18:42] #20 closed

[2019-05-28 08:07] meezaan opened #21 "Fix Incorrect Surah Name Characters"
quran-uthmani edition:
سبإ  must be سبأ
Second one,
النبإ must be النبأ

[2019-06-08 15:25] faridv opened #22 "Cannot start quran-app: doctrine error"
I'm trying to run your project and all containers start without error except quran-app which it keeps showing me this error:

    quran-app            | /usr/local/bin/doctrineProxies.sh: line 40: vendor/bin/doctrine: No such file or directory
    quran-app exited with code 127

I'm using Docker 18.9.6, build 481bc77 on Ubuntu server 18.04.2 LTS machine.

[2019-06-10 08:04] meezaan commented on #22
Are you using docker-compose or just docker?

It appears that the vendor directory is missing. When using compose, you mount the entire volume onto the container, so if you have not run composer install locally, you don't have a vendor folder and it deletes the one in the container.

2 ways to fix it:

1. Run ```composer install``` locally and then run ```docker-compose up```.
2. SSH into the API

[2019-06-10 09:16] faridv commented on #22
Running `composer install` fixed my problem.
I think it's better to add this step in the installation instruction section.

Thank you

[2019-06-10 09:16] #22 closed

[2019-07-11 14:10] husayt opened #23 "New English translation by Khattab"
[The Clear Quran](https://theclearquran.org/) is one of the latest translations and has been endorsed by lots of scholars (see [here](https://theclearquran.org/) ). Quran.com switched to using it as a default translation. Would be great to add it here too, obviously with author's permission .

Thanks

[2019-07-11 15:05] meezaan commented on #23
Thank you for sharing.

I can send them an email.

[2019-07-12 09:35] meezaan commented on #23
@husayt FYI I've emailed them.

[2019-07-15 09:12] IsmetGlumcevic opened #24 "Complete Quran by page"
Assalamu aleykum.
 is there api for complete Quran by page?
Thanks

[2019-07-16 10:44] meezaan commented on #24
You can only get it page by page like http://api.alquran.cloud/v1/page/1/en.asad.

There are 604 pages, so you can loop over a simply counter and get them all.

[2019-07-19 09:28] #24 closed

[2019-07-20 16:17] WebPajooh opened #25 "API not working"
Hi.
I was using the arabic and persian translations and tafseer books, but It's not working now.

I checked the API, and got this:

I was using your API in my telegram bot,
Please help me,
Thanks.

[2019-07-20 22:10] meezaan commented on #25
Can you please share the URL that throws the error?

[2019-07-21 07:23] WebPajooh commented on #25
I'm using this link:
http://api.alquran.cloud/v1/ayah/4:1/editions/ar.muhammadayyoub,fa.khorramdel

and yesterday was not working, and I got the error "Slim Application Error"
but I checked it now, And It's working (and found a new field in response "audioSecondary")

Thanks.

[2019-07-21 07:23] #25 closed

[2019-10-24 09:30] IsmetGlumcevic opened #26 "Add new translation by Muhamed Mehanovic"
Assalamu alaykum.
There is new translation for bosnian language by Muhamed Mehanovic.
Will you add this translation to api.
Thanks.

[2019-10-24 09:31] IsmetGlumcevic opened #27 "Api don't work"
Today api don't work. Are you use cache for api?

[2019-10-24 10:45] meezaan commented on #27
Should be fixed now. I was travelling when Linode had scheduled server maintenance and after the reboot the db host was not resolving as I'd hoped it would because of memcached being cleared out and no default connection hostname for the database.

[2019-10-24 10:45] #27 closed

[2019-12-09 15:11] Hissan-Dialer360 opened #28 "Add an option for language direction ltr and rtl"
Kindly add the language direction field in the edition section, so I can change the direction of text ltr or rtl according to the language type.

i.e rtl for ur and ltr for en.

[2019-12-09 17:49] meezaan commented on #28
This is now done. See http://api.alquran.cloud/ayah/1/en.asad or http://api.alquran.cloud/surah/1/ur.ahmedali for instance.

[2019-12-09 17:49] #28 closed

[2019-12-09 18:04] Hissan-Dialer360 commented on #28
Ok, Great!

[2020-02-07 22:26] trystesire opened #29 "Repository vesica/memcached doesn't exist"
Salam,

I receive an error when I run the command docker-compose up

[code]

[FIX]
I edited the docker-compose.yml file, declaration for Memcached Admin  :
[code]
The error disappeared but is it a correct fix?

[2020-02-09 04:54] meezaan commented on #29
I will have a look. vesica images have been moved to islamicnetwork, so that change would make sense.

[2020-02-10 07:22] meezaan commented on #29
I've committed the above change to the repo. Thank you.

[2020-02-10 07:22] #29 closed

[2020-02-23 13:18] justirva09 opened #30 "Cors origin when call api in localhost"
Hi, i using this Quran API for my web app development. the API get a CORS on network.

how to resolve this problem ?

![SSSS](https://user-images.githubusercontent.com/48151470/75112776-93dd3200-5679-11ea-8d4c-30d1951552fb.png)

[2020-02-24 05:01] meezaan commented on #30
Setup an entry in your local host file (/etc/host on any Linux machine) with a domain that maps to 127.0.0.1.

[2020-02-24 07:33] justirva09 commented on #30
I use windows and I am implementing it using **ReactJS** with axios to get data from api. Will I have this problem if I have uploaded it to the server?

[2020-02-24 07:51] meezaan commented on #30
Actually looking at the error, the problem is with your request. It's quite clear on the problem. Don't send the content-type header in your request and it should work just fine.

[2020-02-24 08:42] justirva09 commented on #30
oke, thanks brother :)

[2020-02-24 08:43] #30 closed

[2020-03-08 13:33] vipafattal opened #31 "Issues with Quran words that has Alef with Hamza like "وَبِٱلْءَاخِرَةِ هُمْ" , "وَبِٱلْيَوْمِ ٱلْءَاخِرِ""
I always thought these issues are related fonts and I tried many different fonts, but it turns out it's an issue from the data that's received from the API using `quran-uthmani` edition. Even though some fonts like me_quran & Amiri are showing without any issues, but when copying from the Quranic text the issues become visible [please see](https://github.com/vipafattal/Mushaf/issues/7#issue-577501

[2020-03-10 03:40] meezaan commented on #31
Salaam brother.

So this is interesting. Grammatically, the text appears correctly and the alif needs go after the Hamza.  But for the Qur'an it is written differently where the hamza is just placed before the alif when the laam and alif are joined - so this is intelligence that needs to be baked into the font, which is why some of them display it properly.

ءَا in that order are a different pronu

[2020-03-31 06:06] hscstudio opened #32 "Where Source of Tajweed Quran"
I have seen on database table edition that source of tajweed quran from hafidh.com, but now this site have down or for sale, where github or other project that continue this tajweeed?

[2020-03-31 17:26] meezaan commented on #32
I don't know if the project is continued - the source was hafidh.com when the text was taken.

We know the word by word text has some issues with the way the Arabic displays so it is disabled in the API (and that too came from hafidh.com originally).

Just FYI we actually got the text from the Global Quran project, and their source was hafidh.com.

[2020-03-31 18:03] vipafattal commented on #31
Salaam brother @meezaan

I've got your point but must of the fonts don't support this case and they don't have that intelligence so they turn out to make an issue when using them with `quran-uthmani`.

[2020-04-01 06:48] meezaan commented on #31
Alaykum Salaam brother and Mabruk on your app.

In your view, would it be better to create a new edition to accommodate fonts or simply create an official font for Qur'anic text that solves the problem?

[2020-04-01 11:38] vipafattal commented on #31
All credits go for your support thanks @meezaan

Creating a new edition will solve this problem.

[2020-04-02 05:19] #32 closed

[2020-04-06 14:47] papasmile commented on #14
It appear that information (except juz) is already available on https://api.alquran.cloud/v1/meta

Just need to add a list of 'juzes'.

[2020-04-27 11:10] meezaan commented on #14
@husayt Does the /v1/meta endpoint work for you? It isn't documented so I will add it to the docs on https://alquran.cloud/api.

[2020-05-03 14:35] IsmetGlumcevic commented on #26
Yes, I have a text of the translation and I have permission from the author to use. Can you give me the mail, please?

[2020-05-03 20:21] meezaan commented on #26
support [at] Islamic.network.

[2020-05-06 20:24] Cyberistic opened #34 "Some Juz(es) are offset by either 1 or -1"
Examples:

// from meta

Juz 4 should start at {"surah":3,"ayah":92}
instead of {"surah":3,"ayah":93}
(-1 offset)

Juz 5 should start at {"surah":5,"ayah":83} instead of {"surah":5,"ayah":82}
(+1 offset)

[2020-05-07 06:22] meezaan commented on #34
Thank you @Cyberistic. The API matches what is on https://en.wikipedia.org/wiki/Juz%27. Do you have access to another digital source - I can't find one and short of manually checking multiple printed Qur'ans I don't really see another option to verify this.

[2020-05-07 06:23] meezaan commented on #34
Just for reference, the second one is Juz 7, not 5.

[2020-05-07 06:54] Cyberistic commented on #34
Using your API:
[code]

[code]

Two ayahs in the same page can't be in different Juz-es.
Other than using your DB to check for the first ayah in the first page of each Juz, I'm not sure how this could be confirmed.

I used my own personal Quran to verify what I stated in my original issue.

Whoops, sorry.

[2020-05-10 03:45] vipafattal commented on #31
Salaam Alaykum,
Any news about thi issue.

Thanks brother

[2020-05-10 05:22] meezaan commented on #31
Salaam brother, no, unfortunately there has not been progress - simply have not had the time. I do want to try out this font too https://quranacademy.gitbook.io/digital-quran/content-and-release-plan/font-kitab as I think it will solve the display issue.

I understand the issue has some urgency because it impacts the app, would you be able to create it and share the SQL dump?

I will leave open th

[2020-05-10 13:12] vipafattal commented on #31
Thank you @meezaan,
Sorry, I couldn't understand what do mean by SQL dump

[2020-05-10 13:14] vipafattal commented on #31
I will also test the font.

[2020-05-10 13:22] vipafattal commented on #31
Using [Kitab-Regular.ttf](https://github.com/quranacademy/kitab-font/blob/master/Kitab-Regular.ttf) the font is very neat, but unfortunately the same issue with "ٱلْءَاخِرِ" see the screenshot:
![Screenshot_1589116733](https://user-images.githubusercontent.com/22567094/81500298-0dc8a300-92da-11ea-9a17-27ff4cfca133.png)

[2020-05-11 11:36] IsmetGlumcevic commented on #26
I send you mail.

[2020-05-11 12:16] meezaan commented on #31
OK, I've thought of an interim solution for this. I need a few days to test it out, but I'll keep you posted insha Allah as I make some progress.

[2020-05-12 05:23] meezaan opened #35 "AlQuran API: Document how to add a new edition"
To do this, an entry is required in the edition table.

Then, 6236 corresponding entries are required in the ayat table.

[2020-05-12 05:24] meezaan opened #36 "AlQuran API: Document how to add a new audio edition's files to the CDN"
To do this:

1. An entry is required in the edition table.
2. The files then need to be uploaded to the Wasabi / s3 bucket with the folder name matching the edition name.
3. https://github.com/islamic-network/cdn.alquran.cloud/blob/master/html/media/index.php#L37 needs to be updated with the appropriate information.
4. https://github.com/islamic-network/api.alquran.cloud/blob/master/src/Quran/Help

[2020-05-12 08:49] meezaan commented on #31
Salaam, I'm testing out some changes, but before publishing anything, I want to confirm if something like this will work:

![Screenshot 2020-05-12 at 12 47 08](https://user-images.githubusercontent.com/1839282/81662655-f19a4280-944e-11ea-8a4f-349499db1668.png)

[2020-05-12 10:41] meezaan commented on #31
You can now pass the query parameter ?fontHack=true to your API calls to get the modified version. This way we are not making any incorrect grammatical changes to the text - but just modifying the output at runtime to use a singular madda instead of the laam, hamza and alif where they appear together. So once the deployment completes in 5 minutes or so, https://api.alquran.cloud/v1/ayah/2:4/quran-

[2020-05-12 11:19] vipafattal commented on #31
Amazing work @meezaan thank you, I'm thankful to you.

[2020-05-12 11:47] meezaan commented on #31
Alhamdulillah

[2020-05-13 05:30] meezaan opened #37 "Update wordbyword text based on https://api.quranwbw.com/. See https://github.com/islamic-network/alquran.cloud/issues/9."

[2020-05-13 07:56] #36 closed

[2020-05-14 11:37] meezaan commented on #37
This is now done. The version can be accessed via quran-wordbyword-2.

http://api.alquran.cloud/v1/surah/1/quran-wordbyword-2.

[2020-05-14 11:37] #37 closed

[2020-05-14 11:45] #35 closed

[2020-05-17 07:16] RAbuBaker opened #38 "Add reciters Arabic names"
Reciters names are only available in English.

Calling this API http://api.alquran.cloud/v1/edition?format=audio&language=ar&type=versebyverse :

Both name and englishName have the same value.

![image](https://user-images.githubusercontent.com/38038348/82138202-4959f480-9827-11ea-8b5b-89b2f57fa777.png)

[2020-05-17 11:32] meezaan commented on #23
Al Salaamu Alaykum - the author has not responded, so I will close this for now.

[2020-05-17 11:32] #23 closed

[2020-05-17 11:58] meezaan commented on #11
Done - but commit tagged as 13 incorrectly.

[2020-05-17 11:58] #11 closed

[2020-05-17 13:28] vipafattal commented on #21
A Question in this field why only Surat Al-Fatih has Arabic punctuation on its name.

[2020-05-17 13:50] vipafattal commented on #38
@meezaan
I think this would be helpful
[code]
All Arabic names are obtained from http://mp3quran.net/.

[2020-05-17 14:01] meezaan commented on #38
@vipafattal thank you very much! Very helpful indeed!

[2020-05-17 14:07] meezaan commented on #21
I started adding these but never got around to completing the task. So in due course they will all have a then, God willing!

[2020-05-18 05:30] RAbuBaker commented on #38
I think it would be better to add Mujawwad like this (المجود)..
for example:
"Husary (Mujawwad)" to "(محمود خليل الحصري (المجود",
instead of "Husary (Mujawwad)" to "محمود خليل الحصري المجود",

[2020-05-18 06:53] meezaan commented on #38
Done.

[2020-05-18 06:53] #38 closed

[2020-05-19 19:46] RAbuBaker commented on #17
I had to do it manually:

`
if (this.surahNumber !== 1) {
                    // Remvoing basmala
                    this.ayahs[0].text = this.ayahs[0].text.substring(38);
                }
`

[2020-05-19 20:59] vipafattal commented on #17
@RAbuBaker
This way of removing Baslmalih a lot of drawbacks, will remove more text in Surah Tawba and in some cases, the Baslmalih has Arabic Shadiha ( ّ  ) such as Surah AlQader, in this case, the length of Baslmalih is no longer 38.

My solution to this is to get the range of Baslmalih by getting first index of "ٱلرَّحِيمِ"  then replacing this range with an empty string:

(This code is in Kotl

[2020-05-20 00:18] RAbuBaker commented on #17
Thanks a lot for pointing out to this.. it was indeed helpful.

I am programming in ES6/Angular. I will certainly do something similar. JazakAllah Kahir..

[2020-05-20 02:03] vipafattal commented on #17
Most Welcome

[2020-05-20 05:52] meezaan commented on #17
@vipafattal @RAbuBaker this will only work with quran-uthmani - not with quran-simple - incase anyone is using that.

[2020-05-20 07:21] vipafattal commented on #17
Yes I'm using it with quran-uthmani if someone is not using generic Quran version, they can replace
[code]
with same version of end Basmalih in quran-simple, otherwise, I would suggest splitting first Aya by whitespace I think this will work fine in all quran version:

[code]

[2020-05-20 07:59] meezaan commented on #17
Thanks @vipafattal I will try and prioritise this to deal with it on the API side.

[2020-06-08 19:57] meezaan commented on #31
Reopening as this may very well be a font display issue related to a proposal like https://www.unicode.org/L2/L2017/17377-proposal-tanwin-inline.html.

[2020-06-11 16:38] baroudihassan opened #39 "Audio Ayat incomplete"
The last ayat of surat An-nisaa is incomplete: https://cdn.alquran.cloud/media/audio/ayah/ar.alafasy/669/high

[2020-06-15 07:16] meezaan commented on #39
Thank you for the issue. It appears to come back at the complete 58 seconds when I access it.

Can you please share the output of the following from where you are trying to query:

[code]

Thank you.

[2020-06-16 14:01] baroudihassan commented on #39
Yes now it's good, the problem is fixed

[2020-06-16 15:56] #39 closed

[2020-06-26 11:58] vipafattal commented on #31
Salaam brother
I wont to let that I'm using [kitab-font](https://github.com/quranacademy/kitab-font) with quran-uthmani
with fontHack enabled with same results (وَبِٱلْءَاخِرَةِ) even the link you referenced (https://api.alquran.cloud/v1/ayah/2:4/quran-uthmani?fontHack=true) has same issue (see the attached image aya number 4).

![screenshot-2020-06-26_14 53 40 961](https://user-images.githubuserc

[2020-06-27 11:21] meezaan commented on #31
I will have a look - thank you for letting me know.

[2020-06-27 11:27] meezaan commented on #31
@vipafattal I can see a bug in the code that I introduced when adding quran-unicode to the mix. I will patch it either today or tomorrow, inshaAllah!

[2020-06-28 08:02] meezaan commented on #31
Should be fixed now.

[2020-06-28 08:02] #31 closed

[2020-07-01 17:04] rashnk opened #40 "Bismillahi rahmani raheem is different in two surah"
API end point : http://api.alquran.cloud/v1/quran/quran-uthmani

I was trying to remove bismillahirahmani raheem from the first ayath, I copied the arabic text from first Aya of  Sura 1. Fathiha

and wrote a function to replace with  blank text '', it replace bismi from all the first aya of all surah excepte sura 95 and 97

I checked the text  bismi in both sura and found there is difference in bi

[2020-07-01 17:13] rashnk opened #41 "Request to remove bismi from the first aya"
I dont think there is a need of bismilla in the first aya of surath, in the site(https://alquran.cloud/surah/94) itself bismi is seperately shown at the top of each sura. but the API adds bismi with the first aya,  refer the screenshot from the quran.cloud site

![image](https://user-images.githubusercontent.com/12730428/86272243-dd232c80-bbeb-11ea-813e-58e56e73b9b7.png)

Request to please remove

[2020-07-01 17:14] rashnk commented on #41
This is API result , bismi added with the first aya

![image](https://user-images.githubusercontent.com/12730428/86272588-6dfa0800-bbec-11ea-9fce-05b05d3958db.png)

[2020-07-02 14:48] papasmile commented on #40
Assalaam alaykum wa rahmatullah,

Tasmiyya begins with shadda in Hafs?? mushaf in both 95 and 97 surahs, for example:

![Screen Shot 2020-07-02 at 10 46 54 AM](https://user-images.githubusercontent.com/3638363/86373451-6882d900-bc51-11ea-9606-d6624c335eab.png)

I am not a tajweed expert but I understand that it is due to 'baa' letter ending in previous surah (94 and 96), so for continuous reading

[2020-07-02 14:50] papasmile commented on #41
Asslaam alaykum wa rahmatullah,

Your request seems to be a duplicate of https://github.com/islamic-network/api.alquran.cloud/issues/17

[2020-07-02 16:27] rashnk commented on #40
you are right, but see the bismi in chapter 95 in quran in same site https://alquran.cloud/surah/95, there is no shaddah in bismi, but API returns it

[2020-07-02 17:44] rashnk opened #42 "Waqf displayed in the wrong place in surah/18/quran-uthmani"
API : http://api.alquran.cloud/v1/surah/18/quran-uthmani

 ۜ   waqf is displayed before the bismi

![image](https://user-images.githubusercontent.com/12730428/86392636-6b191900-bcb9-11ea-8c0f-c00510640e66.png)

Correct place is at the end of the aya,, see screenshot from Tanzil quran
![image](https://user-images.githubusercontent.com/12730428/86392891-cf3bdd00-bcb9-11ea-90ce-9a0ca71fda9d.png)

[2020-07-02 18:45] vipafattal commented on #41
Yes, it's duplicated and it's already in the todo list for the API see [this](https://github.com/orgs/islamic-network/projects/5#card-41163946)

[2020-07-03 08:30] meezaan commented on #42
Al Salaamu Alaykum,

Thank you for all the issues you have been raising.

I am not sure if this is actually in the wrong place or just a result of the way text is displayed.

The problem does not exist with the font. There are several issues like this that have been identified, and they're all on the project board to be looked at.

I am working on a little tool to try it out with the various fonts

[2020-07-03 12:20] meezaan commented on #40
Salaam @rashnk yes, @papasmile is correct.

The bismillah on the web app has nothing to do with the the API, per se, and is hard coded up there. It does not change from Surah to Surah.

This is also, of course, specific to the Uthmani text. It certainly does not appear in some Turkish hand written editions of the Qur'an. I still need to check a sub-continent edition.

I'll close this issue.

[2020-07-03 12:20] #40 closed

[2020-07-03 12:21] meezaan commented on #42
@rashnk I think this is a result of the browser rendering JSON with the direction right-to-left. If you switch it to left-to-right, you will see that this is not a problem.

I'll leave the issue open for you to double check and confirm. Once the font tester tool is ready these kind of things will become much easier to debug.

[2020-07-03 12:22] meezaan commented on #41
Closed as it is a duplicate.

[2020-07-03 12:22] #41 closed

[2020-07-03 15:51] rashnk commented on #42
Va. salam Bro
you are correct @meezaan dir="rtl" fixes this issue,
Thank you for the help

[2020-07-03 15:51] #42 closed

[2020-07-03 16:35] meezaan commented on #42
Alhamdulillah.

[2020-07-16 20:45] Q8root opened #43 "Incorrect ayah characters"
Referring to the following endpoint: http://api.alquran.cloud/v1/page/44/quran-uthmani
Ayah # 267
the incorrect ayah (ِإِبْرَٰهِۦمُ) it must be (إبراهيم)

[2020-07-17 17:41] meezaan commented on #43
@Q8root. Not in the Uthmani editions, it does not appear the way you would think it would. Here's an actual image (you might want to see it against a white background) - https://cdn.islamic.network/quran/images/2_260.png.

[2020-07-17 19:31] Q8root commented on #43
Please refer to the following sandbox:-
https://codesandbox.io/embed/dark-https-t4put?fontsize=14&hidenavigation=1&theme=dark
Ayah will appear like this :-

[2020-07-17 20:41] meezaan commented on #43
It's not an issue. This is how the text appears in Uthmanic editions. You need to pick a font that can display this.

[2020-07-17 20:49] meezaan commented on #43
You can compare editions on https://alquran.cloud/arabic-font-edition-tester?reference=267. Try quran-uthmani-quran-academy - that edition has been updated to accommodate changes to the way arabic characters are rendered post 2016. The quran-uthmani text was done before that.

I will close this issue because it's definitely not the way you have asked for it to appear - the text does not appear tha

[2020-07-17 20:49] #43 closed

[2020-08-17 21:03] RAbuBaker commented on #17
Any update on this? @meezaan

[2020-08-23 12:45] mrifni opened #44 "Too Many Requests"
I am getting Too Many Requests when i try to update a doc quran ayahs. Doc has almost 50 ayahs.

[2020-08-27 03:08] meezaan commented on #44
Al Salaamu Alaykum @mrifni.

You are allowed 120 requests per minute per IP, so unless you are querying for multiple editions, 50 requests should be OK. If you want multiple editions, you can get them per ayah in one call.

Are these in any particular order, if so, I recommend trying the surah or juz endpoints.

Hope this helps?

[2020-08-27 03:09] meezaan commented on #17
Al Salaamu Alaykum @RabeeAbuBaker. It's number 5 on the backlog - https://github.com/orgs/islamic-network/projects/5 - so not yet, I'm afraid. But soon, God willing!

[2020-08-28 08:29] #44 closed

[2020-09-27 18:23] Riz-waan commented on #21
@meezaan I can help if you would like, Inshallah

[2020-09-28 06:11] meezaan commented on #21
@Riz-waan Al Salaamu Alaykum. Thank you for the offer to help out.

I'm attaching a word document where I'd made a start in little bits (but it all needs to be completed and then reviewed, particularly with the last vowel on each name).

Thank you.

[names.docx](https://github.com/islamic-network/api.alquran.cloud/files/5290219/names.docx)

[2020-09-28 14:09] Riz-waan commented on #21
Oh okay sorry, I meant it change in code. I am not knowledgeable in Quranic Arabic @meezaan

[2020-09-29 22:18] fawazahmed0 commented on #21
@Riz-waan Your intention is sufficient to earn you a good reward
@meezaan Salam meezaan, thanks for your work, may Allah reward you with good, and bless us and protect us from evil :+1:
 Will [this](https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/info.json) work out for you?
I fetched those arabic surah names from [kfcq](https://qurancomplex.gov.sa/) quran, but I not sure though whether they a

[2020-09-30 12:52] meezaan commented on #21
@Riz-waan Indeed, thank you for the effort.

@fawazahmed0  Thank you. I see that is missing some of the Tashkeel, so insha Allah I will continue to work on that word document as and when I get time.

[2020-09-30 13:11] fawazahmed0 commented on #21
@meezaan could you give an example? which surah name is missing the diacritics and what would be it's correct form, a single example would be sufficient, I too am interested in fixing it in my file

Thanks

[2020-10-01 04:56] meezaan commented on #21
@fawazahmed0 According to the rules of Classical Arabic, the wasala is always missing, along with the following sukoon, for instance:

النَّاسِ should be ٱلْنَّاسِ

The endings all seem to follow the idafa pattern, so as long as they all appear with the word سُوْرَةُ before them, they would have the correct grammar.

I just need to be sure about surah's that are named after prophets, for instance.

[2020-10-01 13:28] fawazahmed0 commented on #21
Yeah I actually stripped the سُوْرَةُ thing, assuming it just means chapter, didn't know it would effect the grammar. I will add that back Inshallah in the [file](https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/info.json)
Coming to surah names your aren't sure about, the [Standard Quran hafs](https://qurancomplex.gov.sa/kfgqpc-quran-hafs-standard/) from Quran Complex, seems to follow that patt

[2020-10-05 10:54] meezaan commented on #21
Thank you for this @fawazahmed0.

I think (I could be wrong) the removal of the sukoon is actually not Uthmanic - it's laziness, because the sukoon is pure Arabic Grammar, and unfortunately many Arabs do not care for exact pronunciation or meaning (and the production of thousands of classical books without tashkeel alludes to that).

I will, insha Allah update the names soon now.

All the Uthmani

[2020-10-05 15:22] fawazahmed0 commented on #21
@meezaan Yes it does exist in my API as well,  I was actually amazed to see a 0 in quran, even the [Standard quran hafs](https://qurancomplex.gov.sa/kfgqpc-quran-hafs-standard/) seems to have that thing. Anyways I dug little deeper into this by the mercy of Allah, and it seems that the 0(unicode value 06E0) is part of [arabic unicode script](https://www.unicode.org/charts/PDF/U0600.pdf) and should

[2020-10-05 16:14] meezaan commented on #21
@fawazahmed0 I don't believe that is an Arabic zero - according to the rules of Classical Arabic, it is a sukoon. It appears as the arabic zero in fonts like scherazade, so the zero is not the problem here. I think it is simply mistyped, and carried from version to version (and I know this is a bold assertion, but in the digital age all things manifest themselves, particularly when tied to man's a

[2020-10-05 16:26] fawazahmed0 commented on #21
Thanks @meezaan for correcting me , if you are 100% sure about this, then it's easier to correct, we just have to replace the english zero thing with the sukoon, it will take 5 seconds to do that. I will close the [issue](https://github.com/alif-type/amiri/issues/203) then. But we will have to raise at quran-academy and khaled hosny quran repos then, so that they can also correct it as well, quran

[2020-10-05 17:09] fawazahmed0 commented on #21
@meezaan see [this](https://github.com/alif-type/amiri/issues/203#issuecomment-703757798)

[2020-10-05 17:15] khaledhosny commented on #21
Long vowel letters don’t get a mark in standard Arabic, سوْرة would be pronounced as consonant و not as a long vowel (like in سوْءة).

[2020-10-05 17:48] meezaan commented on #21
@khaledhosny Yes, but they do in Classical Arabic, don't they? I have often seen this described as archaic Arabic, but I think that definition is besides the point.

Insha Allah once we unpack - I recently moved - I will dig out some of the old Grammar books with examples just to be sure.

[2020-10-05 19:01] meezaan commented on #21
I just want to add this here in case anyone sees this and gets concerned.

This discussion around the zero or a sukoon is purely syntactic about haraka (vowels). At least in the case of the word أَنَا۠, neither the meaning nor the pronunciation would change.

@fawazahmed0 Thank you for raising this and @khaledhosny thank you for sharing the images of the mushaf. These are, however, printed (and as

[2020-10-05 19:23] meezaan commented on #21
See https://www.abouttajweed.com/080702.htm. This zero might be specific to medina mushaf (or other similar mushaf). I've only found one hand written mushaf online, and that too does not have a zero or a sukoon. So far, it seems like it is related specifically to tajweed, especially if you want to stop at the word in question.

![handwirtten_mushaf_1260AH](https://user-images.githubusercontent.com

[2020-10-05 20:15] khaledhosny commented on #21
The Azhar mushaf is the famous [1924 Cairo edition](https://en.wikipedia.org/wiki/History_of_the_Quran#1924_Cairo_edition) and is basically the standard and the most authoritative source for printed masahef. The committee that oversaw it standardized and even invented the symbols used in masahef today. The other two masahef are the most widely circulated masahef, and they basically verbatim copy t

[2020-10-05 21:28] fawazahmed0 commented on #21
Just wanted to add that the different mushufs have already been digitalize by [Quran Complex](https://qurancomplex.gov.sa/).
Here are the different mushufs(such as IndoPak/Nastaleeq, Warsh etc) and their relevant fonts:

[Mushafs with Fonts.zip](https://github.com/islamic-network/api.alquran.cloud/files/5330131/Mushafs.with.Fonts.zip)

I never added all those in my API(only added nastaleeq and Uth

[2020-10-06 04:00] khaledhosny commented on #21
I’d be cautions before flagging something as a mistake without having proper expertise in the subject. There are  [different methods for counting verses](https://vb.tafsir.net/forum/%D8%A7%D9%84%D9%82%D8%B3%D9%85-%D8%A7%D9%84%D8%B9%D8%A7%D9%85/%D9%85%D9%84%D8%AA%D9%82%D9%89-%D8%A7%D9%84%D9%82%D8%B1%D8%A7%D8%A1%D8%A7%D8%AA-%D9%88%D8%A7%D9%84%D8%AA%D8%AC%D9%88%D9%8A%D8%AF-%D9%88%D8%B1%D8%B3%D9%85-%D

[2020-10-06 04:02] khaledhosny commented on #21
![IMG_20201006_055816_1](https://user-images.githubusercontent.com/93914/95157456-5dcc6880-0799-11eb-8f77-c1e6fff58605.jpg)
![IMG_20201006_055758_2](https://user-images.githubusercontent.com/93914/95157472-691f9400-0799-11eb-8eba-cfdefbe198b2.jpg)

[2020-10-06 04:07] meezaan commented on #21
@khaledhosny Thank you very much for the clarification.

**So, just to re-iterate, there no error as far the zero is concerned. It's a tajweed notation.**

Al Azhar is Al Azhar, so there is no debate about. However, I would just like to illustrate what you are saying with images, because this is not so much about the reading, but more about the way it is denoted. I am sure the choice was made for

[2020-10-06 04:14] meezaan commented on #21
Irrespective of what people read, a principle still stands and needs to be mentioned irrespective of what people understand.

People's understanding and knowledge might become less over time, but that shouldn't ever be a reason to reset a principle.

[2020-10-06 04:17] khaledhosny commented on #21
Of course it is not, they invented the symbol specifically to be used here. Most Quranic marks are used exclusively with the Quranic text and not for classical or standard Arabic text, so I don’t see why this is an issue.

Al-Azhar committee intentionally avoided any use of color because it was difficult to print back then, this ship has long sailed and millions of Muslims are familiar with these

[2020-10-06 04:44] meezaan commented on #21
@khaledhosny It's not an argument. My apologies if that is what it comes off like, and I'm not saying anyone has done anything wrong (who am I to do that).

Classical Arabic does matter for those who study it to understand what the Qur'an means. You read the text and see something that is unfamiliar, and so it can be cause for ambiguity. And this stands true even if you have memorised much of it.

[2020-10-06 12:16] fawazahmed0 commented on #21
@khaledhosny , Thanks for correcting me again, it was something new to learn, I never knew about this, God willing I will add those variants also in my api. but I still have to convert the verse numbering into the uthamanic one, otherwise everything(API, apps etc) will break.

@meezaan I will inshallah share the different variants here, with uthamanic verse numbering, you could also add those in y

[2020-10-06 14:15] meezaan commented on #26
Added with the identifier ba.mehanovic.

[2020-10-06 14:15] #26 closed

[2020-10-07 01:51] fawazahmed0 commented on #21
Here is the Quran variants with uthmanic verse numbering, this was made possible only by the mercy of God, and also thank you everyone for all your help:
[Quran Variants.zip](https://github.com/islamic-network/api.alquran.cloud/files/5337828/Quran.Variants.zip)

Thanks

[2020-10-07 04:29] meezaan commented on #21
@fawazahmed0 Aameen!

JazakAllahu khairun! Thank you for all the discussion, engagement and contribution. May Allah ﷻ be pleased with it!

[2020-10-13 12:39] meezaan opened #45 "Add different Qur'an Readings"
See https://github.com/islamic-network/api.alquran.cloud/issues/21#issuecomment-704645055.

[2020-12-27 22:34] mrifni opened #46 "cant access https://localhost:7070/"
after running the composer install and docker-compose up i cant seems to open any https localhost ports.
pgadmin worked without https though just using http.
whats the issue ? how can i access the api.

~/D/w/d/b/api.alquran.cloud (master|✔) $ docker-compose up
Creating network "apialqurancloud_default" with the default driver
Creating quran-memcached ... done
Creating quran-memadmin  ... done
Cre

[2020-12-28 16:45] meezaan commented on #46
It's accessible over http, not https. So http://localhost:7070

[2020-12-28 21:42] mrifni commented on #46
nope that doesnt work either

[2020-12-29 04:03] meezaan commented on #46
Is the apache container running? What does ```docker ps``` show?

[2020-12-30 12:11] mrifni commented on #46
[code]

[2020-12-30 12:11] mrifni commented on #46
full docker-compose up log

[code]

[2020-12-30 12:14] mrifni commented on #46
i think `quran-app` service is failing to start becaus of maybe other dependencies havnt started yet ?

[2020-12-30 17:54] fawazahmed0 commented on #21
In the name of God who have guided me to do this work and I seek refuge in him from every evil that could harm me

Salam alaikum,

I have sent emails to few developers about my Quran related projects, and I think it will be beneficial if I share those here too:

- **Quran Translation Collection &amp; Free API Service:**
A collection of Quran Translations in 90+ languages including very rare to fin

[2020-12-31 07:58] meezaan commented on #46
If you run docker-compose up a second time, it should come up, only the app container that exited will come back up.

On the first run it's failing because the database takes some time to import.

[2020-12-31 14:46] mrifni commented on #46
yeah it works when run on second time. But shouldnt this be fixed ? is there somehting like dependsOn in docker compose ?

[2021-01-03 10:45] meezaan commented on #46
There is a depends_on, but it only waits for the mysql process to run, not for the database to get imported.

You can most likely tell docker to keep trying if you use the ```docker stack deploy``` command instead of ```docker-compose up``` because that keeps trying to bring a container that is down into a running state (but the compose file may need a tweak or 2 to work with that - I have not tri

[2021-01-06 08:37] #46 closed

[2021-01-18 23:34] ngekoding opened #47 "Surah name in spesific edition?"
From this endpoint http://api.alquran.cloud/v1/surah, can we get the surah list name in another language (edition)?

For example, in my language (Indonesian)
1. Al-Faatiha = Al-Fatihah
2. Al-Baqara = Al-Baqarah
3. etc...

Here the reference that we can follow from Ministry of Religion Indonesia https://quran.kemenag.go.id

Thanks for this awesome work, may Allah give you Jannah.

[2021-01-19 12:29] meezaan commented on #47
Thank you @ngekoding, let's leave the issue open. There's another open issue about Surah names, so insha Allah I will try and  deal with them both soon.

[2021-01-19 23:34] ngekoding commented on #47
الحمدلله، جزاك الله خيرا

[2021-02-02 01:12] ngekoding commented on #47
After checking, I found the surah name list directly from that website by the API, no authentication required.

Here the endpoint: https://quran.kemenag.go.id/api/v1/surat/0/144

[2021-02-09 17:42] meezaan commented on #21
Updated.

[2021-02-09 17:42] #21 closed

[2021-02-11 10:40] vipafattal opened #48 "More Arabic Translations"
The API is rich in non-Arabic translations however it's only featuring two Arabic Translations (تفسير الجلاين و الميسر)

[2021-02-14 07:28] meezaan commented on #48
Al Salaamu Alaykum @vipafattal. I have also seen your email but I'm sorry have been unable to respond.

I don't have any digitised text of Arabic commentaries, but if you have access to some and permission to use, we can certainly add them to the API.

[2021-02-16 14:49] vipafattal commented on #48
Never mind I just wanted to make sure that my message reached you.
Though I don't have any Arabic text with proper license to use I'm trying to reach [QuranAndroid](https://github.com/quran/quran_android/issues/1550) and [quranenc.com](https://quranenc.com/) for licensed Arabic translations.

[2021-06-06 13:06] husayt commented on #14
@meezaan that is great.
Alternatively, it might be also convenient to get quran-meta as js functions and without calling apis.

[Here](https://github.com/quran-center/quran-meta) is the library we have built and use live projects.  Hope might be of use

[2021-06-06 13:06] #14 closed

[2021-06-12 16:52] marwan opened #49 "Please add The Clear Quran translation to the API"
As-salaamu Alaikum brother @meezaan, as discussed on the discord group, please add the The Clear Quran translation which you can find on:

https://tanzil.net/trans/

It’s the one by Talal Itani.

JazakAllahu Khairan!

[2021-06-22 16:02] Cyberistic opened #50 "Add font download button to the "arabic font edition tester" page"

[2021-08-16 06:53] ghazalitajuddin commented on #17
I use .replace() method. Those unicode is part of Bismillah. Hope helps.

`strippedContent: function(string) {
           return string.replace("\u0628\u0650\u0633\u0652\u0645\u0650 \u0627\u0644\u0644\u0651\u064e\u0647\u0650 \u0627\u0644\u0631\u0651\u064e\u062d\u0652\u0645\u064e\u0670\u0646\u0650 \u0627\u0644\u0631\u0651\u064e\u062d\u0650\u064a\u0645\u0650", "");
    },`

[2021-09-05 03:39] Kamrulhasan12345 opened #51 "Rename the misleading 'edition' to 'translation'"
Assalamu'alaikum wa rahmatullahi wa barakatuh,

Recently, I saw that the word 'edition' has been used instead of 'translation'. Infact, to non-muslims, it will look like them as different kinds of quran. I mean different edition of quran. We know, that Bible, and other books have different editions, but Quran is the one, and only. And we, muslims, are advised not to follow the culture of non-musli

[2021-09-05 05:07] meezaan commented on #51
Alaykum Salaam @Kamrulhasan12345.

Thank you for reaching out. There are not only translations available, but also some basic text from tafseer and, in fact, several editions of the text (quran-simple, quran-uthmani, quran-unicode and so on so forth).

No one is following the culture of non Muslims here. English is a language, and the word edition has a specific meaning to describe a version of a

[2021-09-05 05:07] #51 closed

[2021-09-05 09:12] Kamrulhasan12345 commented on #51
Now understood what you said, and happy to hear that!

[2021-09-08 11:57] vipafattal opened #52 "Using the Arabic Names for edition `name` field"
Since there is an `englishName` field in [editions](https://api.alquran.cloud/v1/edition/language/ar) which its value obviously is in English, so as far as I think, it makes sense that `name` value to be in Arabic or at least the `ar` [editions](https://api.alquran.cloud/v1/edition/language/ar).

So for example, if I may suggest that the `name` field would be:

Quran simple (ar.quran-simple-clean)

[2021-09-09 04:06] meezaan commented on #52
Makes sense to me. Would you kind enough to provide the names?

Arabic editions are: http://api.alquran.cloud/v1/edition/language/ar and many of the ones that aren't the actual text already have Arabic names.

[2021-09-09 15:58] vipafattal commented on #52
Alright then, I'd be more than happy to help!

For easiness, I will create a google sheet list of all the Arabic name suggestions that I could make.

[2021-09-13 08:00] vipafattal opened #53 "Calling any Arabic endpoint with language code will response always with `quran-simple`"
For example, calling the page endpoint on the `quran-wordbyword-2` edition will result in getting verses of a `quran-simple` see [page 2](https://api.alquran.cloud/v1/page/2/ar.quran-wordbyword-2).
 The issue is affecting all Arabic endpoints (not just page) see [verse 289](https://api.alquran.cloud/v1/ayah/289/ar.quran-wordbyword-2).

I'm not sure if this also would happen in the other languages.

[2021-09-13 10:31] meezaan commented on #53
@vipafattal The edition identifier is incorrect. The edition identifier is quran-wordbyword-2, not ar.quran-wordbyword-2.

[2021-09-14 07:10] vipafattal commented on #53
I understand, but don't you think @meezaan it's appropriate to return a response describing that you've reached an invalid endpoint such as [this](https://api.alquran.cloud/v1/edition?format=text&language=en&type=quran).

[2021-09-17 11:28] meezaan commented on #53
This was done for legacy reasons, as the API used to return a default version.

Changing that would break some apps, and being a public API, I have no real idea about who the consumers are.

[2021-09-17 11:29] meezaan commented on #53
Ideally, if you are programmatically retrieving the identifiers, you should never be passing an invalid identifier.

[2021-09-20 08:43] vipafattal commented on #52
You can see the list of the suggested Arabic name at:
https://docs.google.com/spreadsheets/d/1WU3bKsAoksgW0OcwnXW71kYyeNW03nVXLimS0CHRDNI/edit?usp=sharing

[2021-09-20 08:44] vipafattal commented on #53
Okay I understand now

[2021-09-20 08:44] #53 closed

[2021-09-22 02:52] meezaan commented on #52
JazakAllah! I will have a look.

[2021-09-23 09:35] Sherbeeny opened #54 "Ensure that “audio” URL is not repeated in “audioSecondary”"

[2021-09-26 21:36] Sherbeeny opened #55 "Expressive meta tags for better titles, and performers of audio files"
When a chatbot sends audio files on telegram by URL, it's not possible to edit file name, audio title, or performer.
So, for most files, users get audio files with names of numbers they don't understand, not titles and rarely a performer.

![image](https://user-images.githubusercontent.com/11067783/134825375-e6bad22e-bf06-4075-9f23-ccf65dc04e82.jpeg)

It would be great if all audio files have a un

[2021-09-27 10:15] meezaan commented on #55
The meta tags can be updated, but the filename will not be possible. It would effectively mean duplicating all the files, the URL itself is expressive, although I understand that Telegram doesn't care about the URL.

So, meta tags to be updated.

[2021-10-02 12:29] meezaan commented on #54
This is now done. See https://api.alquran.cloud/v1/surah/1/ar.alafasy for instance.

[2021-10-02 12:29] #54 closed

[2021-10-02 14:56] Sherbeeny commented on #54
Thank you!

For that file for example, I noticed that there's a CDN2 in the secondaryAudio but the 128 version URL in cdn2 is not included in the secondaryAudio.

[2021-10-02 17:59] meezaan commented on #54
It's there.

[code]

Or are you seeing something else?

[2021-10-02 18:24] Sherbeeny commented on #54
Oh... My mistake then!
Thank you for your great efforts.

[2021-10-04 04:55] meezaan commented on #50
@Cyberistic moved to the correct repo.

[2021-10-04 04:55] #50 closed

[2021-10-11 10:23] meezaan commented on #47
Related to https://github.com/islamic-network/api.alquran.cloud/issues/52.

[2021-10-16 07:07] meezaan commented on #49
@marwan This is now done. https://api.alquran.cloud/v1/ayah/24/en.itani, for example.

[2021-11-07 09:25] vipafattal commented on #52
Salam Meezaan,
Just want to inform you that there is mistake in the Arabic names you have dropped the first letter "ا" (Alef)  in some editions.

[2021-11-07 14:33] meezaan commented on #52
Will have a look and fix ASAP. Thanks

[2021-11-14 07:16] meezaan commented on #55
@Sherbeeny Al Salaamu Alaykum.

This is now done. The title and artist ID3 tags have been updated on all the files.

I will close the issue, but please feel free to reopen if you don't see the changes.

[2021-11-14 07:16] #55 closed

[2021-11-14 08:29] meezaan commented on #52
Updated @vipafattal.

[2021-11-29 13:55] Sherbeeny commented on #55
Some files of Reciter "Muhammad Ayyoub" are not updated with the new meta tags.

Here's a couple I found:
![image](https://user-images.githubusercontent.com/11067783/143880156-dc3d15df-b15f-4310-b234-ee3fa33e1cb9.jpeg)

I hope there's an easy way for you to recheck/reupdate all the files of all reciters because there might be others.

Jazak Allah khayran

[2021-11-29 15:21] meezaan commented on #55
Thank you. I'll have a look. There's a good chance they are all done but you may just have some caching in place. For starters, I will check the files you have identified and we can see what needs to happen from there.

[2021-12-01 09:31] meezaan commented on #55
I had a look at 3980.mp3. It appears to have all the meta tags.

Can you please share the response headers so I can see which CDN PoP you are hitting, and I can check the caching over there specifically.

[2021-12-15 16:49] Sherbeeny commented on #55
Sorry for my late reply.

Seems that Telegram usually gets response from London.

Here's a log for a file that has Title and Performer:
`Audio URL header: {"content-type":"audio/mpeg","content-length":"64353","connection":"close","server":"nginx","date":"Wed, 15 Dec 2021 16:43:49 GMT","last-modified":"Thu, 11 Nov 2021 11:02:22 GMT","x-rgw-object-type":"Normal","etag":"\"2de96efd85a6537cd1df5711b8a

[2022-01-14 16:08] mysamimi opened #60 "add Tafsil"
add a label/badge 2 aye,
index and search aye by tassel name

[2022-04-06 22:00] belabdifatimazohra opened #62 "Some of the arabic surat name are returned with caracters"
![image](https://user-images.githubusercontent.com/10096682/162079182-c409e04c-eb79-4841-ad2c-f686a5b11cd4.png)

[2022-04-08 10:08] meezaan commented on #62
This is related to either the browser or the font you are using, not with the API.

[2022-04-08 10:08] #62 closed

[2022-04-15 21:25] belabdifatimazohra commented on #62
I used Google chrome for that. Thanks for your reply @meezaan

[2022-07-02 14:40] anas-elgarhy opened #66 "I create the java wrapper library for this awesome API 💙, And if you take a look at it and give me some of the notes this makes me happy ❤️"
Link: https://github.com/anas-elgarhy/alquran-cloud-api
And I have some notes also:
- If the `edition` object has a number of pages attribute, I think that is useful in times
- And the limit of requests I think it's short

[2022-07-05 10:36] meezaan commented on #66
JazakAllah brother. I'll have a look, inshaAllah and can look at adding pagination. You mean the rate limit per second should be higher?

[2022-07-25 09:51] tauntmachine opened #67 "Asma husna API not working"
API -- http://api.aladhan.com/asmaAlHusna/

RESPONSE ---
{
    "code": 404,
    "status": "RESOURCE_NOT_FOUND",
    "message": "Not found.",
    "trace": "#0 \/var\/www\/vendor\/slim\/slim\/Slim\/Middleware\/RoutingMiddleware.php(58): Slim\\Middleware\\RoutingMiddleware->performRouting(Object(Slim\\Psr7\\Request))\n#1 \/var\/www\/vendor\/slim\/slim\/Slim\/MiddlewareDispatcher.php(147): Slim\\Middl

[2022-07-25 10:45] basit3407 commented on #67
Same here. It's not giving response any more

[2022-07-26 09:00] meezaan commented on #67
Please us v1. These URLs were deprecated in 2017, but it looks like I missed updating the docs and adding a 301.

http://api.aladhan.com/v1/asmaAlHusna

I'll make the updates.

[2022-07-26 09:02] tauntmachine commented on #67
JazakAllah

[2022-07-26 16:18] #67 closed

[2022-07-28 11:22] haroonkhankhattak commented on #20
still no tajweed solution for android ?

[2022-07-28 13:06] haroonkhankhattak commented on #20
yeah
just change each css class name with the color and parse it in textview like this
it works for me

binding.text.setText(HtmlCompat.fromHtml(      "۞ ٱللَّهُ نُورُ <font color=#AAAAAA>ٱ</font><font color=#AAAAAA>ل</font>سَّمَ<font color=#537FFF>ـٰ</font>و<font color=#537FFF>َٲ</font>تِ وَ<font color=#AAAAAA>ٱ</font>لْأَرْضِ‌ۚ مَثَلُ نُورِه<font color=#537FFF>ِۦ</font> كَمِشْكَ<font color=slnt>

[2022-08-13 10:38] realtouseef opened #68 "Pagination for the *Search* endpoint."
Couldn't find pagination for the Search endpoint, would love it if anyone could kindly look into it.

[2022-11-15 20:07] tkyr-hh opened #69 "Wrong word in Ayah 127 in verse number 2"
The API: https://api.alquran.cloud/v1/page/20/quran-uthmani
![Screenshot 2022-11-15 at 8 59 30 PM](https://user-images.githubusercontent.com/96578305/202015054-11f2c3a7-440a-4735-9db3-471bd642b928.png)
the word `ابراهيم` is wrong

[2022-11-17 18:12] electro199 commented on #8
Can you please share in the doc  where it shows more clearly about which parameter to use for which ayah and surah

[2022-11-18 07:52] meezaan commented on #8
[http://api.alquran.cloud/v1/ayah/96:1/ar.alafasy](http://api.alquran.cloud/v1/ayah/96:1/ar.alafasy)  should do what you are after.

[2022-11-18 07:54] meezaan commented on #69
What is wrong with it?

[2022-11-20 10:59] tkyr-hh commented on #69
the word `ابراهيم` is wrong

[2022-11-20 18:32] meezaan commented on #69
No, it's fine. You need to use a font that can display Qur'anic Arabic. There is a difference between Classical Arabic and modern  Arabic, and then there are some words that are sometimes written differently in Qur'anic Arabic.

Rendered properly, this is how it appears - https://alquran.cloud/ayah/2:127.

And here is an image of how it appears in printed Qur'ans - http://cdn.islamic.network/quran

[2022-11-20 18:32] #69 closed

[2022-11-20 18:53] tkyr-hh commented on #69
Thanks a lot @meezaan  for your reply. Can you please share with me the Quran's Font used in the link above??

[2022-11-20 19:17] meezaan commented on #69
https://alquran.cloud/public/css/font-kitab.css?v=1

[2022-11-20 19:27] tkyr-hh commented on #69
@meezaan Jazak ALLAH khayr